<div class="container">
    <div class="row border">
        <div class="col-8">
            aaaaaaaaaaaaaaaaa
        </div>
        <div class="col-4">
            xxxxxxxxxxxxxx
        </div>
    </div>
    <div class="row border">
        <div class="col-8">
            aaaaaaaaaaaaaaaaa
        </div>
        <div class="col-4">
            xxxxxxxxxxxxxx
        </div>
    </div>
    <div class="row border">
        <div class="col-8">
            aaaaaaaaaaaaaaaaa
        </div>
        <div class="col-4">
            xxxxxxxxxxxxxx
        </div>
    </div>
    <div class="row border">
        <div class="col-8">
            aaaaaaaaaaaaaaaaa
        </div>
        <div class="col-4">
            xxxxxxxxxxxxxx
        </div>
    </div>
</div>